extends ../layout

block content

    a(href="/usuarios") volver

    br
    br
    br

    h1 Nuevo usuario

    br
    br

    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name='nombre' value= usuario.nombre class="")
            if errors.nombre
                small#nombreHelp.textdanger
                    =errors.nombre.message


        br
        br
        input.btn.btn-primary(type="submit" value="OK")